# **Part 6**

### **Exercise 1**

The Book class is defined.

In [1]:
class Book:
    language = 'ENG'
    is_ebook = True

Create an instance of the Book class named *book*. Display the value of the `__dict__` attribute for the *book* instance. Then assign two attributes to the *book* instance:

* *author* to the value `Dan Brown`
* title to the value `Inferno`

In response, display the `__dict__` attribute for the *book* instance again

In [2]:
book = Book()
print(book.__dict__)
book.author = 'Dan Brown'
book.title = 'Inferno'
print(book.__dict__)

{}
{'author': 'Dan Brown', 'title': 'Inferno'}

### **Exercise 2**

Create two instances of the *Book* class named *book_1* and *book_2*. Then assign instance attributes to these objects (using dot notation) as follows:

to object *book_1*:
* `author = 'Dan Brown'`
* `title = 'Inferno'`

to the object *book_2*:

* `author = 'Dan Brown'`
* `title = 'The Da Vinci Code'`
* `year_of_publishment = 2003`

In response, print the value of the `__dict__` attribute of *book_1* and `book_2`.

In [3]:
class Book:
    language = 'ENG'
    is_ebook = True

In [4]:
book_1 = Book()
book_2 = Book()

book_1.author = 'Dan Brown'
book_1.title = 'Inferno'

book_2.author = 'Dan Brown'
book_2.title = 'The Da Vinci Code'
book_2.year_of_publishment = 2003

print(book_1.__dict__)
print(book_2.__dict__)

{'author': 'Dan Brown', 'title': 'Inferno'}
{'author': 'Dan Brown', 'title': 'The Da Vinci Code', 'year_of_publishment': 2003}

### **Exercise 3**

A books list was created

In [5]:
books = [book_1, book_2]

Create a loop to list all the attributes of the book_1 and book_2 instances with their values

In [6]:
for book in books:
    for attr in book.__dict__:
        print(f"{attr} -> {getattr(book, attr)}")
    print('-' * 30)

author -> Dan Brown
title -> Inferno
------------------------------
author -> Dan Brown
title -> The Da Vinci Code
year_of_publishment -> 2003
------------------------------

### **Exercise 4**

The *Book* is defined. A list *books_data* is also given.

In [8]:
class Book:
    language = 'ENG'
    is_ebook = True


books_data = [
              {'author': 'Dan Brown','title': 'Inferno',},
              {'author': 'Dan Brown','title': 'The Da Vinci Code','year_of_publishment': 2003,},
             ]

Based on this data, create two instances of the Book class, where the instance attributes will be the keys from the given dictionaries (books_data list) with their corresponding values.

In response, print the __dict__ attributes of the objects to the console.

In [9]:
books = []
for book_data in books_data:
    book = Book()
    for attr, value in book_data.items():
        setattr(book, attr, value)
    books.append(book)

for book in books:
    print(book.__dict__)

{'author': 'Dan Brown', 'title': 'Inferno'}
{'author': 'Dan Brown', 'title': 'The Da Vinci Code', 'year_of_publishment': 2003}

### **Exercise 5**

 Implement a method called `set_title()` that allows you to set an instance attribute called title (without validation). Then create an instance of the Book class named book and set the title attribute to `'Inferno'` using the `set_title()` method.

In response, print the value of the title attribute of the book instance.

In [10]:
class Book:
    language = 'ENG'
    is_ebook = True

    def set_title(self, value):
        self.title = value

book = Book()
book.set_title('Inferno')
book.title

'Inferno'

### **Exercise 6**

Implement a method named `set_title()` that sets an instance attribute named title. Before setting the value, check if it's an object of `str` type, if not raise a `TypeError`.

In [11]:
class Book:
    language = 'ENG'
    is_ebook = True

    def set_title(self, value):
        if not isinstance(value, str):
            raise TypeError(
                'The value of the title attribute must be of str '
                'type.'
            )
        self.title = value


book = Book()
book.set_title('Inferno')
print(book.title)

Inferno

### **Exercise 7**

Create an instance of the Book class named book. Then, using the `try ... except ...` clause, try using the `set_title()` method to set the value of the title attribute to `False`. In case of a `TypeError`, print the error message to the console.

In [12]:
book = Book()

try:
    book.set_title(False)
except TypeError as error:
    print(error)

The value of the title attribute must be of str type.