# <u>**Part 5**

### **Exercise 1**

Implement a class named Phone. In the Phone class, define a class attribute named brand and set its value to `'Apple'`. Then, using dot notation and `print()` function, display the value of the brand attribute of the Phone class to the console.

In [ ]:
class Phone:
    brand = 'Apple'

Phone.brand

'Apple'

### **Exercise 2**

Implement a class named *Phone*. In the *Phone* class, define two class attributes with names:

* brand
* model

and set their values to:

* `Apple`
* `iPhone X`

In [ ]:
class Phone:
    brand = 'Apple'
    model = 'iPhone x'

print(getattr(Phone, 'brand'))
print(getattr(Phone, 'model'))

Apple
iPhone x

### **Exercise 3**

A class named *Phone* is defined below.

In [ ]:
class Phone:
    brand = 'Apple'
    model = 'iPhone X'

Using dot notation, modify the value of the attributes

* brand to `'samsung'`
* model to `'Galaxy'`

In [ ]:
Phone.brand = 'Samsung'
Phone.model = 'Galaxy'

print(f'brand: {Phone.brand}')
print(f'model: {Phone.model}')

brand: Samsung
model: Galaxy

### **Exercise 4**

A class named *Laptop* is defined below.

In [ ]:
class Laptop:
    brand = 'Lenovo'
    model = 'Thinkpad'

Using the `setattr()` built-in function modify the value of attributes

* 'brand' to `'Acer'`
* 'model' to `'Predator'`

In response, using the built-in function `getattr()` and `print()`, print the values of the *brand* and *model* attributes to the console

In [ ]:
setattr(Laptop, 'brand', 'Acer')
setattr(Laptop, 'model', 'Predator')

print(f"brand: {getattr(Laptop, 'brand')}")
print(f"model: {getattr(Laptop, 'model')}")

brand: Acer
model: Predator

### **Exercise 5**

Implement a class named *OnlineShop* with the class attributes appropriately:

* sector to the value `'electronics'`
* sector_code to the value `'ELE`
* is_public_company to the value `False`

Then, using dot notation, add a class attribute called *country* and set its value to `USA`. In response, print the user-defined *OnlineShop* class **attribute names**.

In [ ]:
class OnlineShop:
    sector = 'electronics'
    sector_code = 'ELE'
    is_public_company = False

OnlineShop.country = 'USA'

attrs = [
    attr
    for attr in OnlineShop.__dict__.keys()
    if not attr.startswith('_')
]
print(attrs)

['sector', 'sector_code', 'is_public_company', 'country']

### **Exercise 6**

Using the `del` statement remove the class attribute named `sector_code`. In response, print the rest of the user-defined *OnlineShop* class attribute names

In [ ]:
class OnlineShop:
    sector = 'electronics'
    sector_code = 'ELE'
    is_public_company = False

del OnlineShop.sector_code

attrs = [
    attr
    for attr in OnlineShop.__dict__.keys()
    if not attr.startswith('_')
]
print(attrs)

['sector', 'is_public_company']

### **Exercise 7**

Using the builtin `delattr()` function remove the class attribute sector_code. In response, print the rest of the user-defined OnlineShop class attribute names as list.

In [ ]:
class OnlineShop:
    sector = 'electronics'
    sector_code = 'ELE'
    is_public_company = False

delattr(OnlineShop, 'sector_code')
attrs = [
    attr
    for attr in OnlineShop.__dict__.keys()
    if not attr.startswith('_')
]
print(attrs)

['sector', 'is_public_company']

### **Exercise 8**

Display all **user-defined** *OnlineShop* class attribute names with their values as shown below.

In [4]:
class OnlineShop:
    sector = 'electronics'
    sector_code = 'ELE'
    is_public_company = False

for attr, value in OnlineShop.__dict__.items():
    if not attr.startswith('_'):
        print(f'{attr} -> {value}')

sector -> electronics
sector_code -> ELE
is_public_company -> False

### **Exercise 9**

Outside of the class, implement a function called `describe_attrs()` that displays the names of all **user-defined class attribute** and their values as shown below. In response, call the `describe_attrs()` function

In [5]:
def describe_attrs():
    for attr, value in OnlineShop.__dict__.items():
        if not attr.startswith('_'):
            print(f'{attr} -> {value}')

describe_attrs()

sector -> electronics
sector_code -> ELE
is_public_company -> False

### **Exercise 10**

Implement a function (class callabe attribute) named `get_sector()` that returns the value of the sector attribute of *OnlineShop* class.

In [6]:
class OnlineShop:
    sector = 'electronics'
    sector_code = 'ELE'
    is_public_company = False

    def get_sector():
        return OnlineShop.sector

### **Exercise 11**

Implement the *HouseProject* class with class attributes respectively:

* `number_of_floors = 3`
* `area = 100`

Then, in the HouseProject class implement a function (class callable attribute) called describe_project(), which displays basic information about the project as follows:

* Floor number = 3
* Area = 100

In response, call the `describe_project()` function.

In [9]:
class HouseProject:
    number_of_floors = 3
    area = 100

    def describe_project():
        print(f"Floor number: {HouseProject.number_of_floors}\n"
              f"Area:{HouseProject.area}")

HouseProject.describe_project()

Floor number: 3
Area:100